
 .container{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

#show:checked ~.container{
  display: block;
}

input[type="checkbox"]{
  display: none;
}


.container h1{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.content{
  height: 45px;
  width: 100%;
  margin: 40px 0;
}

label{
  font-size: 17px;
}

input{
  height: 100%;
  width: 100%;
  padding-left: 15px;
  font-size: 15px;
  border: 1px solid silver;
}

input:focus{
border-color: #3498db;
border-bottom-width: 2px;

}
.btn{
  margin: 30px 0;
  height: 45px;
  width: 100%;
}

button:hover{
  padding-bottom: 3px;

}

button{
  height: 100%;
  width: 100%;
  background: linear-gradient(to left, #f2a316, #F2C816,#F2C816, #f2a316);
  border: none;
  color: #361B03;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.4s;
}

a{
  margin-left: 10px;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.container > label > img{
  height: 20px;
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}

